
.logo-dl-bordeaux-tb {

    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('http://davidlucas.paris/bordeaux/assets/img_hd/DavidLucas_BX_009.jpg');
    background-position:50% 50%;
}

example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    // background-size: cover;
    background-position:10% 10%;
    font-style: oblique;
    font-weight: 200;
  }